# Python ka chilla
## How to use jupityr notebook
### Basics of python
**01- First program**

In [4]:
print(2+3)
print("Hello World")
print("we are learning python")

5
Hello World
we are learning python

**02- Operator +,-,/,*,% (remainder)**

In [5]:
print(2//3)
#for power function
print(2**3)
print((2*3)*3**2/2*3/3+6-4)

0
8
29.0

*PEMDAS*

*perenthesis exponents multiply divide addition substraction*

**03- Strings**

In [6]:
print("Hello World")
print("we are learning python")
print('Test for single quotes')
print("Test for double quotes")
print('''test for triple quotes''')

print("what's up?")

Hello World
we are learning python
Test for single quotes
Test for double quotes
test for triple quotes
what's up?

**04- Comments**

In [7]:
print("how are you") #for comment out (Ctrl + /)
print("I am learning python") #print a string
print(2+8) #print operator function with numbers

how are you
I am learning python
10

**05- Variables**

In [8]:
#variables: objects containing specific values
x = 5 #numeric or integer variable
print(x)
y= "I am python" # string variable
print(y)
#types of variables
type(x)
print(type(x))
print(type(y))

5
I am python
<class 'int'>
<class 'str'>

*Rules to assign variable*

1-the variable should contain letters, numbers or underscores

2-Do not start with number e.g. dont write (2x)

3-spaces are not allowed

4-Do not use keywords used in functions (breaks, mean, media, test etc.)

5-short and descriptive

6-case sensitivity (lowercase, uppercase, lowercase should be use)

In [9]:
fruit_basket= "Mangoes, Oranges"
print(fruit_basket)
print(type(fruit_basket))

Mangoes, Oranges
<class 'str'>

**06- Input Variables**

In [10]:
fruit_basket="mangoes"
print(fruit_basket)

mangoes

#input function

In [11]:
fruit_basket=input("which is your favoruit fruit? ")
print(fruit_basket)

which is your favoruit fruit? mango
mango

#input of 2nd stage

In [12]:
name=input("what is your name? ")
greetings="Hello!"
print(greetings, name)

what is your name? ikram
Hello! ikram

#another way of stange 2 input fuction

In [13]:
name=input("what is your name? ")
print("Hello!", name)

what is your name? ikram
Hello! ikram

#3rd stage input fuction

In [14]:
name= input("what is your name? ")
age= input("how old are you? ")
greetings= "Hello!"
print(greetings, name, ",you are still young")

what is your name? ikram
how old are you? 31
Hello! ikram ,you are still young

**07- Conditional logics**

*logical operators are wither "true pr flase" or "yes or no" or "0 or 1"*

*equal to                      ==*

*not equal to                  !=*

*less than                     <*

*greater than                  >*

*less than and equal to        <=*

*greater than and equal to     >=*

In [15]:
print(4==4)

True

#application of logical operator

In [16]:
eshal_age=4
age_at_schol=5
print(eshal_age==age_at_schol)

False

#input fuction and logical operator

In [1]:
age_at_schol=5
eshal_age= input("how old is eshal? ")
eshal_age=int(eshal_age)
print(type(eshal_age))
print(eshal_age==age_at_schol)

how old is eshal? 3
<class 'int'>
False

**08- Type conversion**

In [ ]:
x = 10          #integer
y = 10.2        #float
z = "hello"     #string

#implicit type conversion

In [ ]:
x=x/y
print(x, "Type of x is:", type(x))

#explicit type conversion

In [ ]:
age=input("what is your age? ")
age=int(age)
print(age, type(int(age)))
print(age, type(float(age)))

#name

In [ ]:
name=input("what is your name? ")
print(name, type(str(name)))

**09- If, els, elif**

In [ ]:
required_age_at_school = 5
eshal_age = 2

#question: can eshal go to school

In [ ]:
if eshal_age==required_age_at_school:
    print("congratulation! eshal can join the school.")
elif eshal_age>required_age_at_school:
    print("eshal should be in University")
elif eshal_age <=2:
    print("eshal is still a baby")
else:
    print("eshal cannot go to school")

**10- Functions**

In [ ]:
print("i am pytho")
print("i am python")
print("i am python")

#defining a functions
#from typing import Text

In [ ]:
def print_batata():
    print("i am pytho")
    print("i am python")
    print("i am python")
print_batata()

#2

In [ ]:
def print_batata():
    text="i am python"
    print(text)
    print(text)
    print(text)
print_batata()

#3

In [ ]:
def print_batata(text):
    print(text)
    print(text)
    print(text)
print_batata("I am ikram learning python")

#defining a function with if, elif and else statment

In [ ]:
def school_calculator(age, text):
    if age==5:
        print("eshal can join the school")
    elif age>5:
        print("eshal should got to higher school")
    else:
        print("eshal is still a baby")
school_calculator(3.5, "eshal")

#defining a function of future

In [ ]:
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

future_predicted_age=future_age(31)
print(future_predicted_age)

**11- Loops**

In [ ]:
for x in range(5,10):
    print(x)

#array

In [ ]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for d in days:
    # if(d=="Fri"):break #loop stops
    if(d=="Fri"): continue #skips d
    print(d)

**12- Import library**

#if you want to print the value of Pi

In [ ]:
import math
print("the value of pi is ", math.pi)
import statistics
x=[150, 250, 350, 450]
print(statistics.mean(x))

**13- Trouble shooting**

 #syntax error

In [ ]:
print(we are learning python)

#runtime error

In [ ]:
print(25/0)

#symentic error, we thought insted of name your name will appear.

In [ ]:
name= "ikram"
print("Hello name")
print("Hello", name)